---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Kushal.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div>
    <div class="flex flex-col md:flex-row-reverse justify-center items-center gap-[4rem] lg:px-[21rem] lg:py-[10rem]">
      <div class="flex-1 max-w-[400px] min-w-[300px]">
        <img class="rounded-[18px]" src="/assets/my_photo_1.jpg" alt="My Picture">
      </div>
      <div class="flex-1 flex flex-col gap-[1rem] text-[1.2rem]">
        <p>Graduated Aerospace Engineering at IIT Bombay (’20 to ‘24). Currently In Banglore
        </p>
        <h1 class="text-[#525051] font-[Sora] text-[1.5rem] not-italic font-bold leading-[120%]" >Interests</h1>
        <p>How far a group of driven people can go. The wealth creation that startups enable. Putting myself in a place that leads to compound effects.</p>
        <p>I lover reading Biographies, Instances where a small group of great people do incredible things.(Bell Labs, Xerox, Ycomb)</p>
        <p>I am a deep learning practitioner along with my Aerospace Course work. If you wanna know why I decided to work on software AI instead of moving forward in Aerospace <a href="/blog/swtich-to-software">read..</a></p>
        <p>Some curated lists, I try to revist them time and again <a href="/books">Books</a>, <a href="/podcasts">Podcasts</a>, <a href="/essays">Essays/Articles</a></p>
        <hr class="border-[#DA95DE] pt-2"/>
        <p>I created this web to meet awesome, ambitious people. I hope this page serves as a gateway into me that removes the strange from the stranger (As Brian Chesky says it.)</p>

      </div>
    </div>
  </div>
</BaseLayout>
