---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Books';
const description = 'My Reading List';
const permalink = `${Astro.site.href}books`;
---
<BaseLayout title={title} description={description} permalink={permalink} current="books">
    <div class="container lists">
      <h2>Current Readings</h2>
      <ul>
          <li>The Old man and the Sea</li>
          <li>Naked Statistics</li>
          <li>Deep Learning Ian Goodfellow</li>
      </ul>
      <h2>Read</h2>
      <ul>
        <li>Atlas Shrugged</li>
        <p>This shattered my world, transforming perspectives</p>
        <li> Writers and Lovers</li>
        <li> Another Country</li>
        <li> The picture of Dorian Gray</li>
        <li> Normal People</li>
        

        <li>Steal Like an Artist</li>
        <li>The innovators</li>
        <li>Steve Jobs bio</li>

      </ul>
     
    </div>
   
  </BaseLayout>
  <style>
  .lists li{
    margin: 0.2em 0em;
  }
  .lists p{
    margin:0em;
  }
  </style>