---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Essays/Articles';
const description = 'Great Essays';
const permalink = `${Astro.site.href}essays`;
---
<BaseLayout title={title} description={description} permalink={permalink} current="essays">
    <div class="container lists">
      <h2>Essays</h2>
      <p>Listing them so I revist</p>
      <ul>
        <li>SuperLinear Returns (<a href="https://www.paulgraham.com/superlinear.html">read</a>)</li>

      </ul>
    </div>
   
  </BaseLayout>
  <style>
  .lists li{
    margin: 0.2em 0em;
  }
  .lists p{
    margin:0em;
  }
  </style>