---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Podcasts';
const description = 'Amazing Podcast Episodes';
const permalink = `${Astro.site.href}podcasts`;
---
<BaseLayout title={title} description={description} permalink={permalink} current="podcasts">
    <div class="container lists">
      <h2>Podcasts</h2><br>
      <p>Lex Fridman, Philosophise this, The social radars, How to take over the world, Founders, </p> <br>
      <h3>Favorites</h3>
      <p>Listing them so I can revist</p>
      <ul>
        <li>Andrej Karpathy Lex Fridman (<a href="https://open.spotify.com/episode/28yFp9dzo61CiOf0Ejxxhe?si=7d4e1b0d272d4061">spotify</a>)</li>
        <li>Chris Lattner Lex Fridman(<a href="https://open.spotify.com/episode/3fzFCgBznLjKvG2tJFLk3I?si=18553f33dab84399">spotify</a>) </li>
      </ul>
    </div>
   
  </BaseLayout>
  <style>
  .lists li{
    margin: 0.2em 0em;
  }
  .lists p{
    margin:0em;
  }
  </style>