<div>
  <img src="/assets/my_photo_1.jpg" alt="Headshot of Maxi Ferreira">
  <p>
    Hey I'm <strong>Kushal</strong>, a final year Student at IIT Bombay, I wanna meet great people, 
    Dm me on <a href="https://www.twitter.com/KushalSM5" target="_blank">Twitter</a>,
    Check out my work on <a href="https://www.github.com/kiluazen" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
