<div class="flex flex-row gap-[1rem] justify-center items-center">
    <div >
      <img src="/assets/headshot.jpg" alt="Photo of Kushal SM" class="rounded-[100px] w-[150px] md:w-[100px]">
    </div>
    <div class="flex flex-col gap-2">
      <div>
        I'm <span class="font-bold font-[Sora] text-[#9B9692] text-[1.2rem]">Kushal</span>, Graduated Aerospace Engineering from IIT Bombay.
      </div>
      <div>
        Find me on <a href="https://www.twitter.com/KushalSM5" target="_blank" class="underline text-[#9B9692] font-bold hover:italic hover:text-[#DA95DE]">Twitter</a>
      </div>
    </div>
</div>

