<footer>
  <div class=" py-6 flex flex-row justify-center items-center gap-6">
    <span>
      &copy; {new Date().getFullYear()} Kushal. <br>
    </span>
    <div class="flex flex-row gap-4">
      <a href ='/books' class="text-[#DA95DE] hover:font-bold">Reading List</a> 
      <a href ='/podcasts' class="text-[#DA95DE] hover:font-bold">Podcasts</a>
      <a href ='/essays' class="text-[#DA95DE] hover:font-bold">Essays</a>
    </div>
  </div>
</footer>

