<footer>
  <span>
    &copy; {new Date().getFullYear()} Kushal. <br>
  </span>
  <div>
    <a href ='/books'>Reading List</a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 2em 2em;
    text-align: center;
    width: 100%;
  }
  div{
    margin-left: 1em;
  }
</style>
