---
import Nav from './Nav.astro'
import Logo from './Logo.astro'

const { current = '' } = Astro.props;
---
<header class="relative"> 
  <div class="absolute top-0 left-4 lg:left-[21rem] pt-5"><Logo /></div>
  <div><Nav current={current} /></div>
  </div>
</div>
</header>
