---
import ThemeToggleButton from './ThemeToggleButton.svelte';
import GoogleAnalytics from './googleAnalytics.astro';
const { current = '' } = Astro.props;
---

<style>
  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    width: 75px;
  }
</style>

<nav >
  <div class="flex justify-center items-center">
  <div class="flex flex-row lg:gap-[15rem] pt-6">
    <div class="flex flex-row gap-[4rem] text-[1.2rem]">
      <a class="hover:text-[#DA95DE] hover:font-bold"  href='/'>Home</a>
      <a class="hover:text-[#DA95DE] hover:font-bold" href='/about'>About</a>
      <a class="hover:text-[#DA95DE] hover:font-bold" href='/blog'>Blog</a>
    <!-- <a class={current === "projects" ? "selected" : ""} href='/projects'>projects</a> -->
      <a class="hover:text-[#DA95DE] hover:font-bold" href='/resume.pdf' id = 'resume-clickeed'>Resume</a>
    </div>
  </div>
  </div>
  <GoogleAnalytics />
  <!-- <script type = 'text/partytown'>
     // JavaScript code to track the "Resume" link click event
  document.getElementById("resume-clicked").addEventListener("click", function() {
    // Send an event to Google Analytics when the "Resume" link is clicked
    gtag('event', 'click', {
      'event_category': 'Resume Link',
      'event_label': 'Resume Link Clicked'
    });
  });
  </script> -->
    <!-- <ThemeToggleButton client:load /> -->
  </div>
</nav>